footer {
  color: #EFEFEF;
  background-color: #303030;
  margin-top: 2em;
  padding: 2em 0.5em; }
footer .container {
  display: flex;
  justify-content: space-between; }
footer .container object {
  width: 4.5em; }